

.banner {
  overflow: hidden;
}

.banner-slider {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content-main {
  padding: 60px 30px;
  background-color: #FFFFFF;
}

.banner-content-main span.fs-6 {
  padding-left: 32px;
  font-family: "Poppins", sans-serif;
  color: #272343;
}

.banner-content-main h4 {
  margin-bottom: 12px;
  font-size: 48px;
}

.banner-content-main h4 a {
  display: block;
  color: #272343;
}

.banner-content-main p {
  color: #6D7280;
  margin: 10px 0px 26px 0px;
}

.banner-content-main .btn-default {
  height: auto;
  padding: 12px 29px;
}

.blog-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-date span {
  font-size: 16px;
  color: #6D7280;
  font-family: "Poppins", sans-serif;
}

.blog-date-start {
  padding-right: 10px;
  position: relative;
}

.blog-date-start::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -2px;
  width: 5px;
  height: 5px;
  background-color: #6D7280;
  border-radius: 50%;
}

.blog-date-end {
  padding-left: 10px;
}

.slick-dots {
  display: inline-block;
  width: auto;
  bottom: 18%;
  left: 65px;
}

.slick-dots li button::before {
  width: 10px;
  height: 10px;
  background-color: rgba(251, 116, 62, 0.5);
  border-radius: 50%;
  color: transparent;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #FB743E;
  color: transparent;
}

.slick-prev,
.slick-next {
  top: 80%;
  height: 54px;
  width: 54px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: #272343;
}

.slick-prev {
  left: 0;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.slick-prev:hover::before {
  color: white;
}

.slick-next {
  left: 155px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.slick-next:hover::before {
  color: white;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #FB743E;
}

@media (max-width: 420px) {
  .heading {
    margin-bottom: 30px;
  }
  .all-tags-list li {
    margin-bottom: 10px;
  }
  .banner-content-main h4 {
    font-size: 32px;
  }
  .banner-content-main {
    padding: 30px 20px;
  }
  .slick-dots li button::before {
    background-color: white !important;
  }
  .banner-slider {
    height: auto;
    padding: 30px 0px 60px 0px;
  }
  .slick-prev,
  .slick-next {
    top: 95%;
  }
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10% !important;
    left: auto;
  }
  .slick-dots {
    bottom: 2%;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slick-list {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 574px) {
  .heading {
    margin-bottom: 30px;
  }
  .all-tags-list li {
    margin-bottom: 10px;
  }
  .banner-content-main h4 {
    font-size: 32px;
  }
  .banner-content-main {
    padding: 30px 20px;
  }
  .slick-dots li button::before {
    background-color: white !important;
  }
  .banner-slider {
    height: auto;
    padding: 30px 0px 60px 0px;
  }
  .slick-prev,
  .slick-next {
    top: 95%;
  }
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10% !important;
    left: auto;
  }
  .slick-dots {
    bottom: 2%;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slick-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .banner-content-main h4 {
    font-size: 32px;
  }
  .banner-content-main {
    padding: 30px 20px;
  }
  .slick-dots li button::before {
    background-color: white !important;
  }
  .banner-slider {
    height: auto;
    padding: 30px 0px 60px 0px;
  }
  .slick-prev,
  .slick-next {
    top: 95%;
  }
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10% !important;
    left: auto;
  }
  .slick-dots {
    bottom: 2%;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slick-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-content-main h4 {
    line-height: 56px;
  }
  .banner-slider {
    height: 90vh;
  }
  .slick-dots li button::before {
    background-color: white !important;
  }
}

.search-area {
  padding: 150px 0px 100px 0px;
  background-color: #F5F5F5;
}

.search-area h4 {
  margin-bottom: 30px;
}

.search-area .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
} 

.blog-intro {
  margin-top: -130px;
}

.blog-intro-area {
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 20px 50px 114px rgba(0, 0, 0, 0.05);
          box-shadow: 20px 50px 114px rgba(0, 0, 0, 0.05);
}

.blog-intro-area span.has-line {
  padding-left: 32px;
  color: #272343;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.blog-intro-area h3 {
  margin-bottom: 20px;
}

.blog-intro-area h3 a {
  color: #272343;
  display: block;
}

.blog-intro-area-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-intro-area-bottom .intro-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-intro-area-bottom .intro-start-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-intro-area-bottom .intro-start-author img {
  max-width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-intro-area-bottom .intro-start-author .author-image {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.blog-intro-area-bottom .intro-start-author a {
  font-family: "Poppins", sans-serif;
  color: #272343;
  font-weight: 400;
}

.blog-intro-area-bottom .intro-start .dot {
  margin: 0 20px;
}

.blog-intro-area-bottom .intro-start-time {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #6D7280;
}

.blogy-counts {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogy-counts svg {
  margin-right: 10px;
  color: #FB743E;
}

.blogy-counts span {
  font-size: 15px;
  color: #494B5C;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.blog-article-end h4 {
  margin-bottom: 10px;
}

.blog-article-end p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  color: #494B5C;
}

.blog-article-end p a {
  color: #0A81D8;
}

.blog-article-end-feature {
  margin-bottom: 40px;
}

.blog-article-end-feature p {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 22px;
  line-height: 30px;
  padding-left: 24px;
  position: relative;
}

.blog-article-end-feature p::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #FB743E;
  height: 100%;
  width: 3px;
}

.blog-article-end h6 {
  margin-bottom: 32px;
}

.blog-article-end img {
  margin-bottom: 32px;
}

.blog-article-end span.lead {
  font-size: 24px;
  color: #272343;
  font-weight: 400;
  font-family: "PT Serif", serif;
  margin-bottom: 8px;
}

.blog-article-end-bottom {
  border-top: 1px solid rgba(109, 114, 128, 0.2);
  border-bottom: 1px solid rgba(109, 114, 128, 0.2);
  margin-top: 80px;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog-article-end-bottom button {
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.blog-article-end-bottom button svg {
  margin-right: 8px;
}

.blog-article-end-bottom .btn-default {
  height: 50px;
  padding: 0px 120px;
}

.blog-article-end-bottom span {
  color: #272343;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.blog-item-feature {
  padding-bottom: 100px;
}

.blog-item-feature-heading {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-item-feature-heading h4 {
  padding-bottom: 10px;
  position: relative;
}

.blog-item-feature-heading h4::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background-color: #FB743E;
  width: 112px;
  height: 4px;
}

.blog-item-feature-heading a {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #272343;
  font-size: 16px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.blog-item-feature-heading a:hover {
  color: #FB743E;
}

.comments-area {
  padding-bottom: 100px;
}

.comments-area h5 {
  margin-bottom: 20px;
}

.comments-area input {
  height: 56px;
  border-radius: 0px;
  background: #F5F5F5;
  font-family: "Poppins", sans-serif;
  border-color: transparent;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.comments-area input:focus {
  border-color: #FB743E;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.comments-area textarea {
  height: 160px;
  margin: 24px 0px;
  resize: none;
  border-radius: 0px;
  background: #F5F5F5;
  font-family: "Poppins", sans-serif;
  border-color: transparent;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.comments-area textarea:focus {
  border-color: #FB743E;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.comments-area button {
  border-color: transparent;
}

.comments-area .btn-default {
  height: 48px;
}

.comments-area-content {
  margin-top: 70px;
}

.comments-area-content h5 {
  margin-bottom: 20px;
}

.comments-area-content h5 span {
  color: #6D7280;
  font-weight: 400 !important;
}

.comments-area-content .comments {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(109, 114, 128, 0.2);
}

.comments-area-content .comments-owner {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-area-content .comments-owner-image {
  margin-right: 12px;
  width: 40px;
  height: 40px;
}

.comments-area-content .comments-owner-image img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.comments-area-content .comments-owner-text p {
  margin-bottom: 0;
}

.comments-area-content .comments-owner-text p a {
  font-weight: 500;
  color: #272343;
}

.comments-area-content .comments-owner-text span {
  font-size: 15px;
  color: #6D7280;
  font-family: "Poppins", sans-serif;
}

.comments-area-content .comments p {
  font-size: 17px;
  color: #6D7280;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .blog-intro {
    margin-top: 0;
  }
  .blog-intro-area-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .blog-intro-area-bottom .intro-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .blog-intro-area-bottom .intro-start .dot {
    margin-left: 0 !important;
  }
  .blog-intro-area-bottom .intro-start-release {
    margin: 15px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-article-end-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .blog-article-end-bottom span {
    margin-right: 0 !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .blog-article-end-bottom .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-item-feature-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 15px;
  }
  .blog-item-feature-heading a {
    margin-top: 10px;
  }
  .comments-area-content {
    margin-top: 30px;
  }
  .blog-item-feature,
  .comments-area {
    padding-bottom: 30px;
  }
  .blog-article-end p,
  .comments-area-content .comments p {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .blog-article-end-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-article-end-bottom .btn-default {
    margin-bottom: 20px;
  }
}

::-moz-selection {
  background-color: #FB743E;
  color: white;
}

::selection {
  background-color: #FB743E;
  color: white;
}

.section-padding {
  padding: 100px 0px;
}

::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif !important;
}

:-ms-input-placeholder {
  font-family: "Poppins", sans-serif !important;
}

::-ms-input-placeholder {
  font-family: "Poppins", sans-serif !important;
}

::placeholder {
  font-family: "Poppins", sans-serif !important;
}

.mt-25 {
  margin-top: 25px;
}

.my-250 {
  margin: 250px 0px;
}

.has-line {
  position: relative;
}

.has-line::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #FB743E;
  height: 2px;
  width: 24px;
}

.dot {
  background-color: #6D7280;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
}

.btn-default {
  height: 66px;
  padding: 0px 40px;
  background-color: #FB743E;
  color: white;
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.btn-default:hover {
  color: #272343;
}

.btn-default-sm {
  height: 50px;
  padding: 0 22px;
}

.btn-link {
  padding: 0;
  color: #272343;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.btn-link svg {
  margin-left: 8px;
  color: #272343;
}

.btn-link:hover {
  color: #FB743E;
}

.btn-link:hover svg {
  color: #FB743E;
  margin-left: 10px;
}

.social-links a {
  height: 40px;
  width: 40px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #272343;
  border: 1px solid transparent;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.social-links a:hover {
  color: white;
  border-color: #FB743E;
  background-color: #FB743E;
}


.blog-intro-area span.has-line a {
  color: #272343;
}

.blog-item-sm .blog-item-image {
  width: 100%;
}

.blog-item-sm .blog-item-info {
  margin-top: -40px;
  max-width: 397px;
}

.blog-item-sm .blog-item-info h5 {
  font-size: 28px;
}

.blog-item-image {
  width: 100%;
}

.blog-item-image a {
  display: block;
}

.blog-item-image a img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-item-info {
  padding: 32px;
  background-color: #F7F7F7;
  max-width: 560px;
  margin-top: -70px;
  position: relative;
  z-index: 1;
}

.blog-item-info span.fs-6 {
  color: #272343;
  font-family: "Poppins", sans-serif;
  padding-left: 32px;
}

.blog-item-info h5 {
  margin-bottom: 12px;
}

.blog-item-info h5 a {
  color: #272343;
}

.blog-item-info h5 a:hover {
  color: #FB743E;
  text-decoration: underline !important;
}

.blog-item-info-release {
  margin-bottom: 20px;
}

.blog-item-info-release span {
  font-size: 16px;
  color: #6D7280;
  font-family: "Poppins", sans-serif;
}

.blog-item-info-release .dot {
  margin: 0 8px;
}

.post-feature {
  padding: 24px;
  background-color: rgba(245, 245, 245, 0.5);
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.post-feature:hover {
  background-color: #FB743E;
}

.post-feature:hover .dot,
.post-feature:hover .has-line::after {
  background-color: white;
}

.post-feature:hover .btn-link svg,
.post-feature:hover .btn-link,
.post-feature:hover span,
.post-feature:hover h6 a,
.post-feature:hover span.fs-6 {
  color: white;
}

.post-feature span.fs-6 {
  font-family: "Poppins", sans-serif;
  padding-left: 32px;
  color: #272343;
}

.post-feature h6 a {
  color: #272343;
}

.post-feature .btn,
.post-feature .btn-default {
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

@media (max-width: 991px) {
  .blog-item-sm .blog-item-info {
    margin-top: 0;
  }

  .blog-item {
    height: auto;
    overflow: hidden;
  }
  .blog-item-image {
    width: 100%;
  }
  .blog-item-info {
    padding: 20px;
    max-width: 100%;
    position: static;
    margin-top: 0;
  }
  .blog-item-info-release {
    margin-bottom: 10px;
  }
  .blog-item-info-release span {
    font-size: 14px;
  }
  .blog-item-sm .blog-item-info {
    max-width: 100%;
  }
  .blog-item-sm .blog-item-image {
    width: 100%;
  }
  .blog-item-sm .blog-item-image img {
    width: 100%;
  }
  .blog-item-sm .blog-item-info h5 {
    font-size: 24px;
  }
  .post-feature h6 {
    font-size: 24px;
  }
}


@media only screen and (min-width: 420px) and (max-width: 574px) {
  .section-padding {
    padding: 30px 0px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .section-padding {
    padding: 30px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-item-image a img {
    width: 100%;
  }
  .section-padding {
    padding: 40px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section-padding {
    padding: 50px 0px;
  }
}

/* ************ canvas menu *********** */

.canvas-menu {
    background: #fff;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 6;
    box-shadow: -4px 0px 20px rgba(32, 54, 86, 0.2);
    transform: translateX(350px);
    transition: all 0.3s ease-in-out;
}

.canvas-menu.open {
    transform: translateX(0);
}

.canvas-menu .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    position: absolute;
    padding: 0.25em 0.25em;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.4;
    right: 30px;
    top: 20px;
    transition: all 0.3s ease-in-out;
}

.canvas-menu .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.canvas-menu .btn-close:hover {
    opacity: 1;
}

.canvas-menu .logo {
    margin-bottom: 80px;
    margin-top: 50px;
    width: 100%;
}

.canvas-menu nav {
    width: 100%;
}

.canvas-menu .vertical-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.canvas-menu .vertical-menu li.openmenu>a {
    color: #203656;
}

.canvas-menu .vertical-menu li.openmenu .switch {
    transform: rotate(180deg);
}

.canvas-menu .vertical-menu li {
    padding: 0;
    position: relative;
    list-style: none;
    transition: all 0.2s ease-in-out;
}

.canvas-menu .vertical-menu li a {
    color: #203656;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.canvas-menu .vertical-menu li::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to right, #ebebeb 0%, transparent 100%);
}

.canvas-menu .vertical-menu li.active a {
    color: #ad1deb;
}

.canvas-menu .vertical-menu li.active .submenu a {
    color: #79889e;
}

.canvas-menu .vertical-menu li.active .submenu a:hover {
    color: #203656;
}

.canvas-menu .submenu {
    display: none;
    padding: 10px 20px;
}

.canvas-menu .submenu li {
    padding: 5px 0;
}

.canvas-menu .submenu li::after {
    content: "";
    display: none;
}

.canvas-menu .vertical-menu li .switch {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-size: 10px;
    display: inline-block;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
    color: #ad1deb;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
}

/* ************** search pop up ************* */

.search-popup {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
}

.search-popup.visible {
    opacity: 1;
    visibility: visible;
    animation: growOut 500ms ease-in-out forwards;
}

.search-popup .search-content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 650px;
    transform: translate(-50%, -50%);
}

.search-popup .btn-close {
    right: 30px;
    top: 30px;
    position: absolute;
}

.btn-default {
    color: #fff;
    padding: 9.5px 36px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-size: 200% auto;
}

.btn-default:hover {
    color: #fff;
    background-position: right center;
}

.btn-lg {
    padding: 13px 40px;
    font-size: 16px;
}

.form-control {
    display: block;
    border-radius: 25px;
    width: 100%;
    padding: 8px 24px;
    font-size: 14px;
    line-height: 1.6;
    color: #8f9bad;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ebebeb;
    box-shadow: none;
}

.form-control:focus {
    border-color: #ad1deb;
    outline: 0;
    box-shadow: none;
}

/* *************** hero section ************ */

section {
    position: relative;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1040px;
    width: 100%;
}

.hero::after {
    content: "";
    background: #203656;
    display: block;
    left: 0;
    opacity: 0.8;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.post .category-badge {
    color: #fff;
    font-size: 13px;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 11px;
    line-height: 1;
    left: 20px;
    top: 20px;
    z-index: 1;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-size: 200% auto;
    transition: all 0.3s ease-in-out;
}

.post .category-badge:hover {
    background-position: right center;
}

.post .thumb {
    position: relative;
}

.post .thumb.rounded .inner {
    border-radius: 10px;
    overflow: hidden;
}

.post .thumb img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.post .thumb:hover img {
    transform: scale(1.07);
}

.post .post-title a {
    color: #203656;
}

.post .post-title a:hover {
    color: #ad1deb;
}

.post .meta {
    font-size: 14px;
    color: #9faabb;
}

.post .meta a {
    color: #9faabb;
    font-weight: 400;
}

.post .meta a:hover {
    color: #570f75;
}

.post .meta i {
    vertical-align: middle;
}

.post .meta li:last-child::after {
    content: "";
    display: none;
}

.post .meta li::after {
    content: "";
    display: inline-block;
    background-color: #ad1deb;
    border-radius: 50%;
    margin-left: 1rem;
    height: 3px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 3px;
}

.post .meta li:not(:last-child) {
    margin-right: 0.8rem;
}

.featured-post-lg {
    position: relative;
}

.featured-post-lg:hover .thumb .inner {
    transform: scale(1.05);
}

.featured-post-lg .thumb {
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(32, 54, 86, 0.3);
}

.featured-post-lg .thumb::after {
    content: "";
    background: #203656;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    top: 0;
    position: absolute;
    width: 100%;
}

.featured-post-lg .details {
    bottom: 50px;
    left: 50px;
    right: 50px;
    position: absolute;
    z-index: 1;
}

.featured-post-lg .post-title {
    font-size: 32px;
}

.featured-post-lg .post-title a {
    color: #fff;
}

.featured-post-lg .thumb .inner {
    background-size: cover;
    background-position: center center;
    height: 533px;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.featured-post-lg .post-title a:hover {
    color: #e098ff;
}

.featured-post-lg .meta {
    color: rgba(255, 255, 255, 0.6);
}

.featured-post-lg .meta li::after {
    content: "";
    background: rgba(255, 255, 255, 0.6);
}

.featured-post-lg .meta li a {
    color: rgba(255, 255, 255, 0.6);
}

/* ******************* hero right side ************** */

.rounded {
    border-radius: 10px !important;
}

.bordered {
    border: 1px solid #ebebeb;
}

.post-tabs {
    padding: 30px;
}

.post-tabs .tab-content {
    margin-top: 30px;
}

.nav-tabs {
    border-bottom: 0;
}

.tab-content {
    position: relative;
}

.tab-pane {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.tab-pane.loading {
    opacity: 0.3;
}

.lds-dual-ring {
    display: inline-block;
    position: absolute;
    right: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.lds-dual-ring.loading {
    visibility: visible;
    opacity: 1;
}

.lds-dual-ring::after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #ad1deb transparent #ad1deb transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-fill .nav-item, .nav-fill>.nav-link {
    margin-right: 10px;
}

.nav-fill .nav-item:last-child, .nav-fill>.nav-link:last-child {
    margin-right: 0;
}

.nav-fill .nav-item>.nav-link {
    color: #8f9bad !important;
    margin-right: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    border-color: transparent;
    background-size: 200% auto;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 1px solid #ebebeb;
    border-radius: 30px;
}

.post.post-list-sm {
    clear: both;
}

.post.post-list-sm.circle .thumb {
    max-width: 60px;
}

.post.post-list-sm.circle .details {
    margin-left: 80px;
}

.post.post-list-sm .thumb {
    float: left;
    position: relative;
}

.post .thumb {
    position: relative;
}

.post .thumb.rounded .inner {
    border-radius: 10px;
    overflow: hidden;
}

.post .thumb.circle .inner {
    overflow: hidden;
    border-radius: 50%;
}

.post.post-list-sm .post-title {
    font-size: 15px;
}

.post.post-list-sm::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm:last-child::after {
    content: "";
    display: none;
}

/* ************** */

.main-content {
    margin-top: 60px;
}


.section-title {
    font-size: 24px;
    margin: 0;
}

/* *********************** */

.padding-30 {
    padding: 30px;
}

.post .post-format {
    color: #fff;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    line-height: 54px;
    right: 20px;
    text-align: center;
    bottom: -25px;
    position: absolute;
    width: 50px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #6e72fc;
    background: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    z-index: 1;
}

.post .meta li img.author {
    margin-right: 12px;
    vertical-align: middle;
    border-radius: 50%;
}

.post.post-list-sm.square .thumb {
    max-width: 110px;
}

.post.post-list-sm.square .details {
    margin-left: 130px;
}

/* ******************* */

.post.post-list-sm.before-seperator::before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm.before-seperator::after {
    content: "";
    display: none;
}

/* ************** */

.slick-arrows-top {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0px, -50%);
}

.slick-custom-buttons {
    color: #909090;
    font-size: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.slick-custom-buttons:hover {
    color: #ad1deb;
    border-color: #ad1deb;
}

/* -************ */

.post-carousel .slick-slide {
    margin: 0px 12px;
}

.post.post-over-content {
    position: relative;
}

.post.post-over-content .thumb {
    position: relative;
    overflow: hidden;
}

.post.post-over-content .thumb::after {
    content: "";
    background: #203656;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    top: 0;
    position: absolute;
    width: 100%;
}

.post.post-over-content .details {
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.post.post-over-content .post-title {
    font-size: 22px;
}

.post.post-over-content .post-title a {
    color: #fff;
}

.post.post-over-content .post-title a:hover {
    color: aliceblue;
}

.post.post-over-content .meta {
    color: rgba(255, 255, 255, 0.5);
}

.post.post-over-content .meta li::after {
    content: "";
    background: rgba(255, 255, 255, 0.5);
}

.post.post-over-content .meta li a {
    color: rgba(255, 255, 255, 0.5);
}

/* **************** */

.post.post-list {
    margin-bottom: 30px;
}

.post.post-list .thumb {
    float: left;
    max-width: 265px;
}

.post.post-list .details {
    margin-left: 295px;
}

.post.post-list .post-title {
    margin: 9px 0;
}

.post.post-list .post-bottom {
    margin-top: 9px;
}

.post.post-list .post-bottom .social-share .icons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.post.post-list .post-bottom .social-share .icons::before {
    content: "";
    background: #ddd;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
}

.post.post-list .post-bottom .social-share .icons.visible {
    opacity: 1;
    visibility: visible;
}

.post .post-bottom .social-share .toggle-button {
    font-size: 16px;
    color: #9faabb;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.post .post-bottom .social-share .icons {
    display: inline;
    vertical-align: middle;
}

.post .post-bottom .social-share .icons li a {
    color: #9faabb;
    font-size: 14px;
}

.post .post-bottom .social-share .icons li a:hover {
    color: #ad1deb;
}

.post .post-bottom .social-share .icons li:not(:last-child) {
    margin-right: 0.8rem;
}

.post .post-bottom .more-button a {
    font-size: 16px;
    font-weight: 700;
    color: #9faabb;
}

.post .post-bottom .more-button a i {
    color: #9faabb;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
}

.post .post-bottom .more-button a:hover {
    color: #ad1deb;
}

.post.post-list::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post .post-format-sm {
    color: #fff;
    display: block;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    left: 20px;
    text-align: center;
    top: 20px;
    position: absolute;
    width: 30px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    z-index: 1;
}

.btn-simple {
    color: #8f9bad;
    padding: 9.5px 36px;
    background: transparent;
    border: 1px solid #ebebeb;
}

.btn-simple:hover {
    color: #ad1deb;
    border-color: #ad1deb;
}

/* ************** */

.widget {
    border: 1px solid #ebebeb;
    padding: 35px 30px;
    margin-bottom: 40px;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget .widget-title {
    font-size: 20px;
    margin: 0;
}

.post.post-list-sm .thumb .number {
    color: #fff;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    height: 24px;
    line-height: 22px;
    left: 0;
    text-align: center;
    top: -10px;
    position: absolute;
    width: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    z-index: 1;
}

.widget ul.list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.widget ul.list li {
    line-height: 2.8rem;
}

.widget ul.list li a {
    color: #203656;
    font-weight: 700;
}

.widget ul.list li a::before {
    color: #9faabb;
    font-family: "simple-line-icons";
    font-size: 11px;
    vertical-align: middle;
    margin-right: 25px;
    content: "";
}

.widget ul.list li a:hover {
    color: #ad1deb;
}

.widget ul.list li::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #ebebeb;
    background-image: linear-gradient(to right, #ebebeb 0%, transparent 100%);
}

.widget ul.list li span {
    float: right;
}

.widget ul.list li:last-child::after {
    content: "";
    display: none;
}

/* ****************** */

.newsletter-headline {
    font-size: 15px;
    font-weight: bold;
    color: #203656;
    display: block;
}

.newsletter-privacy {
    font-size: 13px;
    display: block;
}

.btn-default {
    color: #fff;
    padding: 9.5px 36px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-size: 200% auto;
}

.btn-default:hover {
    color: #fff;
    background-position: right center;
}

.btn-full {
    padding: 9.5px 36px;
    width: 100%;
}

/* ***************** */

.slick-arrows-bot {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

/* ****************** */

.tag {
    color: #8f9bad;
    border: 1px solid #8f9bad;
    border-radius: 25px;
    font-size: 13px;
    display: inline-block;
    padding: 3px 14px;
    margin: 4px 0;
}

.tag:hover {
    border-color: #ad1deb;
    color: #ad1deb;
}

/* *************** */

.instagram {
    margin: 60px 0 0;
    position: relative;
}

.instagram-feed {
    margin-left: -2.5px;
    margin-right: -2.5px;
}

.instagram-feed .insta-item {
    overflow: hidden;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.instagram-feed .insta-item img {
    border-radius: 10px;
}

.btn-instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* *********** */

footer {
    margin-top: 50px;
}

footer .footer-inner {
    border-top: 1px solid #ebebeb;
    padding: 40px 0;
}

footer .footer-inner .copyright {
    color: #9faabb;
}

#return-to-top {
    color: #8f9bad;
    font-size: 13px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    border-radius: 25px;
    padding: 6px 20px;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

#return-to-top i {
    font-size: 11px;
    vertical-align: middle;
    margin-right: 10px;
}

#return-to-top:hover {
    color: #ad1deb;
    border-color: #ad1deb;
}

/* *********** responsiveness **************** */

@media only screen and (max-width: 992px) {
    .inner-wrapper-sticky {
        transform: none !important;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .featured-post-lg .thumb .inner {
        height: 425px;
    }
    .post.post-list .thumb {
        float: none;
        max-width: 550px;
    }
    .post.post-list .details {
        margin-left: 0;
        margin-top: 25px;
    }
    .post .meta li::after {
        content: "";
        margin-left: 0.5rem;
    }
    .post .meta li:not(:last-child) {
        margin-right: 0.3rem;
    }
    .instagram-feed .insta-item {
        text-align: center;
        margin: 2.5px 0;
    }
    .footer-inner {
        text-align: center;
    }
    .featured-post-lg .post-title {
        font-size: 26px;
    }
    .featured-post-lg .details {
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
    .search-popup .search-content {
        padding: 0px 20px;
        width: 100%;
    }
    .post-carousel-widget .post-carousel {
        margin: 0 12px;
    }
    .post-carousel-widget .post-carousel .post-title {
        font-size: 16px;
    }
}